* {
  margin: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background: var(--blue);
}
form input {
  border-radius: 2px;
}
@media (min-width: 1000px) {
  div.toolbar,
  header > div.cta > h1,
  header > div.cta > div {
    padding: 10px var(--margin-lg);
  }
  main > section:nth-of-type(1) > img {
    right: var(--margin-lg);
  }
  main > section:nth-of-type(1) > div {
    left: var(--margin-lg);
  }
  main > section:nth-of-type(2) > article > h3,
  main > section:nth-of-type(2) > article > ul,
  main > section:nth-of-type(6) {
    padding-left: var(--margin-lg);
    padding-right: var(--margin-lg);
  }
  footer {
    padding: 10px var(--margin-lg);
  }
  header > div.cta > hr {
    margin: 10px var(--margin-lg);
  }
}
@media (max-width: 999px) {
  div.toolbar,
  header > div.cta > h1,
  header > div.cta > div {
    padding: 10px var(--margin-sm);
  }
  main > section:nth-of-type(1) > img {
    right: var(--margin-sm);
    width: 80% !important;
  }
  main > section:nth-of-type(1) > div {
    left: var(--margin-sm);
  }
  main > section:nth-of-type(2) > article > h3,
  main > section:nth-of-type(2) > article > ul {
    padding-left: calc(var(--margin-sm) - 40px);
  }
  main > section:nth-of-type(6) {
    padding-left: var(--margin-sm);
    padding-right: var(--margin-sm);
  }
  header > div.cta > hr {
    margin: 10px var(--margin-sm);
  }
  footer {
    padding: 10px var(--margin-sm);
  }
  .toolbar > img {
    width: 220px;
  }
  main > section:nth-of-type(5) {
    margin: 50px 0 0 !important;
  }
  main > section:nth-of-type(3) > article {
    top: 50% !important;
    right: 15% !important;
  }
  main > section:nth-of-type(4) > article {
    height: 400px !important;
  }
}
@media (max-width: 750px) {
  div.toolbar,
  header > div.cta > h1,
  header > div.cta > div {
    padding: 10px 20px;
  }
  main > section:nth-of-type(1) > img {
    right: 20px;
  }
  main > section:nth-of-type(1) > div {
    left: 20px;
  }
  main > section:nth-of-type(2) > article {
    margin: 0 !important;
  }
  main > section:nth-of-type(2) > article > h3,
  main > section:nth-of-type(2) > article > ul {
    padding-left: 20px;
  }
  main > section:nth-of-type(6) {
    padding-left: 20px;
    padding-right: 20px;
  }
  footer {
    padding: 10px 20px;
  }
  main > section:nth-of-type(5) {
    margin: 150px 0 0 !important;
  }
  header > div.cta > hr {
    margin: 10px 20px;
  }
}
@media (max-width: 650px) {
  .toolbar {
    height: 80px !important;
  }
  .toolbar .btn {
    padding: 5px 10px;
  }
  .toolbar img {
    width: 40% !important;
  }
  .toolbar .cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  header div.cta > div {
    flex-wrap: wrap;
  }
  header div.cta > div > * {
    margin-bottom: 10px;
  }
  .toolbar .cta > * {
    margin-bottom: 5px;
  }
  .toolbar .cta > button:nth-child(1) {
    margin-right: 5px !important;
  }
  main > section:nth-of-type(3) {
    margin: 60px 40px 333px 40px !important;
  }
  main > section:nth-of-type(3) > img {
    width: 100% !important;
  }
  main > section:nth-of-type(3) > article {
    width: 100% !important;
    right: auto !important;
    top: 70% !important;
  }
  main > section:nth-of-type(4) {
    position: relative;
    margin: 400px 0px !important;
  }
  main > section:nth-of-type(4) > img {
    width: 90% !important;
  }
  main > section:nth-of-type(4) > article {
    width: 100% !important;
    top: 250px !important;
  }
  main > section:nth-of-type(4) > article > h3 {
    font-size: 2rem;
  }
  main > section:nth-of-type(5) {
    flex-direction: column-reverse;
    margin: 350px 0 !important;
    height: 800px !important;
  }
  main > section:nth-of-type(5) > form {
    height: 535px !important;
    background: var(--red);
    z-index: 1;
    padding: 20px 20px 155px;
    display: flex;
    width: 100% !important;
    position: absolute !important;
    top: 448px;
    box-sizing: border-box;
  }
  main > section:nth-of-type(5) > img {
    width: 90% !important;
    position: initial !important;
  }
  main > section:nth-of-type(5) > form > div > div > div {
    padding: 0 !important;
    margin: 5px !important;
  }
}
@media (max-width: 550px) {
  main > section:nth-of-type(3) {
    margin: 60px 40px 475px 40px !important;
  }
  main > section:nth-of-type(5) {
    margin: -30px 0 400px !important;
  }
  main > section:nth-of-type(5) > form > div > div:nth-of-type(1) {
    flex-wrap: wrap;
    width: 100%;
    flex: auto !important;
  }
  .toolbar .cta > button:nth-child(1) {
    margin-right: 0px !important;
  }
  main > section:nth-of-type(1) {
    margin-top: 70px !important;
    margin-bottom: 235px !important;
  }
  main > section:nth-of-type(1) > div {
    width: 75vw !important;
    bottom: 0 !important;
  }
  main > section:nth-of-type(2) {
    margin-top: 150px;
  }
}
@media (max-width: 450px) {
  main > section:nth-of-type(5) {
    margin: -220px 0 490px !important;
  }
  main > section:nth-of-type(5) > form {
    top: 630px !important;
  }
  main > section:nth-of-type(3) {
    margin: 60px 40px 528px 40px !important;
  }
  main > section:nth-of-type(6) {
    margin: 0 0 140px !important;
  }
  main > section:nth-of-type(1) {
    margin-top: 100px !important;
    margin-bottom: 355px !important;
  }
  .cta .btn-red {
    width: 100%;
  }
  .toolbar .cta {
    width: 100%;
    justify-content: space-between;
  }
  .toolbar .cta > button {
    padding: 15px 10px !important;
    font-size: 1rem;
  }
  div.toolbar {
    flex-wrap: wrap;
    height: 150px !important;
  }
  .toolbar .btn {
    padding: 5px !important;
    margin-right: 10px;
  }
  .toolbar img {
    width: 97% !important;
  }
  footer > ul {
    flex-wrap: wrap !important;
  }
}
@media (max-width: 376px) {
  header {
    height: 100vh !important;
  }
  main > section:nth-of-type(1) {
    margin-top: 200px !important;
    margin-bottom: 470px !important;
  }
  main > section:nth-of-type(3) {
    margin: 60px 40px 700px 40px !important;
  }
  main > section:nth-of-type(1) > div {
    bottom: -264px !important;
  }
  main > section:nth-of-type(2) {
    margin-top: 340px;
    margin-bottom: 150px;
  }
}
@media (max-width: 330px) {
  .toolbar img {
    margin-bottom: 10px;
  }
  main > section:nth-of-type(1) {
    margin-top: 280px;
  }
  main > section:nth-of-type(3) {
    margin: 60px 40px 735px 40px !important;
  }
  main > section:nth-of-type(4) > article {
    top: 170px !important;
  }
  main > section:nth-of-type(5) {
    margin: -318px 0 413px !important;
  }
  .toolbar .cta > button:nth-child(1) {
    padding: 10px 5px !important;
    font-size: 0.9rem;
    margin-right: 1px !important;
  }
  main > section:nth-of-type(1) {
    margin-top: 300px !important;
  }
}
:root {
  --blue: #0c141e;
  --rgb-blue: 10, 20, 30;
  --write: #fff;
  --red: #df2936;
  --alpha: 0.8;
  --margin-lg: 150px;
  --margin-sm: 70px;
  --margin-between: 60px;
  --section-height: 600px;
}
.btn {
  border: 0;
  padding: 5px 30px;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
}
.btn-outline {
  border: 0.5px solid #ddd;
  background: transparent;
  color: var(--write);
}
.btn-red {
  background: var(--red);
  color: var(--write);
  font-size: 1.2rem;
  padding: 10px 20px;
  font-weight: 700;
}
.btn-write {
  background: var(--write);
}
.cta .btn {
  padding: 10px 30px;
  font-size: 1.2rem;
}
header {
  background-image: url("./public/head.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}
div.toolbar {
  background: rgba(var(--rgb-blue), var(--alpha));
  align-items: center;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
div.toolbar > div.logotipo {
  background: url("./public/logotipo.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
header > div.cta {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
header > div.cta > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header > div.cta > h1 {
  font-size: 3.5rem;
}
header > div.cta > div > span {
  font-size: 1.5rem;
}
.toolbar .cta > button:nth-child(1) {
  margin-right: 10px;
}
main > section:nth-of-type(1) {
  position: relative;
  height: var(--section-height);
  background: var(--blue);
  box-shadow: 0px 0px 100px 80px var(--blue);
  margin-bottom: 100px;
}
main > section:nth-of-type(1) > img {
  width: 60%;
  position: absolute;
  top: var(--margin-between);
}
main > section:nth-of-type(1) > div {
  width: 500px;
  background: var(--blue);
  color: var(--write);
  padding: 15px;
  position: absolute;
  bottom: var(--margin-between);
  z-index: 1;
  top: 235px;
}
main > section:nth-of-type(1) > div > h2 {
  font-size: 3.5rem;
  padding-bottom: 15px;
  font-weight: 900;
}
main > section:nth-of-type(1) > div > h3 {
  font-size: 1.4rem;
  font-weight: 500;
}
main > section:nth-of-type(2) {
  position: relative;
  display: flex;
}
main > section:nth-of-type(2) > article {
  width: 100%;
  height: 1000px;
  background: url("./public/footer.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 40px;
  flex-wrap: wrap;
  align-content: flex-end;
  color: var(--write);
}
main > section:nth-of-type(2) > article > h3 {
  width: 100%;
  font-size: 2.5rem;
  padding-bottom: 60px;
}
main > section:nth-of-type(2) > article > ul {
  list-style: none;
  font-size: 1.1rem;
  width: 100%;
}
main > section:nth-of-type(2) > article > ul > li {
  display: flex;
  padding-bottom: 40px;
  align-items: center;
}
main > section:nth-of-type(2) > article > ul > li > img {
  width: 63px;
  padding-right: 30px;
}
main > section:nth-of-type(3) {
  margin: 60px 40px 250px 40px;
  position: relative;
}
main > section:nth-of-type(3) > img {
  width: 100%;
}
main > section:nth-of-type(3) > article {
  position: absolute;
  color: var(--write);
  top: 70%;
  width: 500px;
  right: 20%;
}
main > section:nth-of-type(3) > article > h3 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
main > section:nth-of-type(3) > article > span {
  background: var(--blue);
  display: block;
  padding: 12px;
}
main > section:nth-of-type(3) > article > button {
  margin-top: 15px;
  margin-left: 20px;
}
main > section:nth-of-type(4) {
  position: relative;
}
main > section:nth-of-type(4) > img {
  width: 65%;
}
main > section:nth-of-type(4) > article {
  width: 50%;
  background: #08395a;
  height: 500px;
  padding: 20px;
  position: absolute;
  top: 60px;
  right: 0;
  color: var(--write);
  font-size: 2.5rem;
}
main > section:nth-of-type(5) {
  margin: 150px 0 150px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}
main > section:nth-of-type(5) > img {
  width: 40vw;
  position: absolute;
  right: 0;
}
main > section:nth-of-type(5) > form {
  width: 65vw;
  height: 70vh;
  position: absolute;
  left: 0;
  background: var(--red);
  z-index: 1;
  padding: 20px;
  display: flex;
  align-items: center;
}
main > section:nth-of-type(5) > form > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main > section:nth-of-type(5) > form > div * {
  color: var(--write);
}
main > section:nth-of-type(5) > form > div > h3,
main > section:nth-of-type(5) > form > div > h4 {
  width: 100%;
}
main > section:nth-of-type(5) > form > div > h3 {
  font-size: 2.5rem;
}
main > section:nth-of-type(5) > form > div > h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 25px;
}
main > section:nth-of-type(5) > form > div > div:nth-of-type(1) {
  display: flex;
  flex: 1;
}
main > section:nth-of-type(5) > form > div > div:nth-of-type(2) {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
main > section:nth-of-type(5) > form > div > div:nth-of-type(3) {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main > section:nth-of-type(5) > form > div > div:nth-of-type(3) > button {
  align-self: center;
  margin-bottom: 15px;
  background: var(--blue);
  padding: 10px 50px;
  font-size: 1rem;
}
main > section:nth-of-type(5) > form > div > div:nth-of-type(3) > span {
  text-align: center;
}
main
  > section:nth-of-type(5)
  > form
  > div
  > div:nth-of-type(3)
  > span
  > button {
  background: rgb(21, 128, 21);
  border: 1px solid;
  font-size: 1rem;
  padding: 5px 20px;
  margin-left: 10px;
}
main > section:nth-of-type(5) > form > div > div > div {
  display: flex;
  flex-flow: column;
  padding: 15px;
  flex: 1;
}
main > section:nth-of-type(5) > form > div > div > div label {
  font-weight: 600;
}
main > section:nth-of-type(5) > form > div > div > div input {
  border: 0;
  font-size: 1rem;
  color: var(--blue);
  padding: 5px;
  font-weight: 600;
}
main > section:nth-of-type(6) {
  margin: 0 0 100px;
}
main > section:nth-of-type(6) > h3 {
  font-size: 2.5rem;
  color: var(--write);
  margin-bottom: 30px;
}
main > section:nth-of-type(6) > article {
  background: #08395a;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 2px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #08395a;
  color: var(--write);
  padding-top: 30px;
  padding-bottom: 30px;
}
footer > img {
  width: 147px;
}
footer > address {
  text-align: center;
  font-size: 0.9rem;
}
footer > ul {
  display: flex;
  list-style: none;
  align-items: center;
}
footer > ul > li {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
footer > ul > li:last-child {
  margin-right: 0;
}
header > div.cta > hr {
  width: 100%;
}
